@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-color: #ee6d6d
}

@keyframes rainbow-border {
    0% { border-color: orange; }  
    10% { border-color: purple; } 
    20% { border-color: red; }
    30% { border-color: CadetBlue; }
    40% { border-color: yellow; }
    50% { border-color: coral; }
    60% { border-color: green; }
    70% { border-color: cyan; }
    80% { border-color: DeepPink; }
    90% { border-color: DodgerBlue; }
    100% { border-color: orange; }
  }
  

  @font-face {
    font-family: fontCitation;
    src: url(../assets/fonts/RELIGATH-Demo.otf);
  }

  @font-face {
    font-family: fontSell;
    src: url(../assets/fonts/Vipnagorgialla-Bd.otf);
  }

  @keyframes rainbow {
    0%{color: orange;}  
    10%{color: purple;} 
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
  }

  :root {
    --main-line-color: hsl(234, 62%, 86%);
    --side-line-color: hsl(350, 100%, 91%);
    --paper-color: hsl(0, 15%, 95%);
    --ink-color: hsl(0, 0%, 12%);
    --line-thickness: 3px;
    --top-space: 4lh;
  }
  
  .paper {
    background: var(--paper-color);
    margin: 2rem;
    padding: calc(var(--top-space) - 0.5lh) 3rem 1rem 5.5rem;
    font-family: system-ui;
    font-size: 1rem;
    line-height: 1.3;
    gap: 1px;
    color: var(--ink-color);
    background-image: 
      /* the red line */ linear-gradient(
        90deg,
        transparent,
        transparent 4rem,
        var(--side-line-color) 4rem,
        var(--side-line-color) 4.25rem,
        transparent 4.25rem
      ),
      /*  The top space  */
        linear-gradient(
          var(--paper-color),
          var(--paper-color) var(--top-space),
          transparent var(--top-space)
        ),
      /* the blue lines */
        repeating-linear-gradient(
          transparent,
          transparent calc(1lh - var(--line-thickness)),
          var(--main-line-color) calc(1lh - var(--line-thickness)),
          var(--main-line-color) 1lh,
          transparent 1lh
        );
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
  }
