@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-color: #ee6d6d
}

@keyframes rainbow-border {
    0% { border-color: orange; }  
    10% { border-color: purple; } 
    20% { border-color: red; }
    30% { border-color: CadetBlue; }
    40% { border-color: yellow; }
    50% { border-color: coral; }
    60% { border-color: green; }
    70% { border-color: cyan; }
    80% { border-color: DeepPink; }
    90% { border-color: DodgerBlue; }
    100% { border-color: orange; }
  }
  

  @font-face {
    font-family: fontCitation;
    src: url(../assets/fonts/RELIGATH-Demo.otf);
  }

  @keyframes rainbow {
    0%{color: orange;}  
    10%{color: purple;} 
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
  }